.header {
    .logotipo {
        display: flex;
        justify-content: center;
        margin-top: 45px;
    }
    .logotipo img {
        width: 150px;
    }
    .social {
        display: flex;
        justify-content: center;
        margin-top: 25px;
        gap: 30px;
        img {
            width: 20px;
        }
    }
    .decoration {
        .decoration_01 {
            position: absolute;
            left: 0;
            top: 150px;
        }
        .decoration_02 {
            position: absolute;
            right: 0;
            top: 330px;
        }
        .decoration_oval {
            display: none;
        }
        .decoration_04 {
            display: none;
        }
    }
}
@include breakpoint(tablet) {
    .header {
        display: flex;
        align-content: center;
        justify-content: space-between;
        .logotipo {
            justify-content: flex-start;
            padding-left: 25px;
            margin-top: 25px;
        }
        .social {
            justify-content: flex-end;
            margin-right: -422px;
            margin-top: 25px;
        }
        .decoration {
            .decoration_01 {
                position: absolute;
                left: 0;
                top: 68px;
            }
            .decoration_02 {
                position: absolute;
                width: 60px;
                right: 0;
                top: 476px;
            }
        }
    }
}
@include breakpoint(desktop) {
    .header {
        max-width: 100%;
        margin-left: 100px;
        margin-right: 100px;
        .social {
            margin-right: -750px;
        }
        .social {
            .github:hover path {
                fill: #4EE1A0;
            }
            .frontendmentor:hover path {
                fill: #4EE1A0;
            }
            .linkedin:hover path {
                fill: #4EE1A0;
            }
            .twitter:hover path {
                fill: #4EE1A0;
            }
        }
    .decoration {
        .decoration_01 {
            display: none;
            }
        .decoration_02 {
            display: none;
            }
        .decoration_oval {
            display: block;
            position: absolute;
            width: 95px;
            right: 495px;
            top: 478px;
        }
        .decoration_04 {
            display: block;
            position: absolute;
            width: 300px;
            left: 0px;
            top: 100px
        }
    }
    }

}