body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    .blue {
        background-color: $colorcyan;
        width: 750px;
        height: 750px;
        position: absolute;
        top: 0;
        right: 0px;
        z-index: -5;
    }
    .grey {
        background-color: $colorgreylight;
        width: 1250px;
        height: 750px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -5;
    }
    .img_fondo {
        position: absolute;
        top: 95px;
        left: 1150px;
        img {
            width: 450px;
        }
    }
}

