/*Los nombres sé que están mal nombrados ("right y left") pero
intenté, iluso de mi, renombrarlos y volver a conectar todo y
se me desmonta por todos lados. He preferido dejarlo así por ahora*/
.hero_right {
    img {
        width: 70%;
    }
    .info_02 {
        display: inline-block;
        position: absolute;
        font-size: 14px;
        width: 310px;
        height: 247;
        top:75%;
        right:15%;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 10px 20px;
        border-radius: 20px;
        span {
            font-weight: 700;
        }
        img{
            max-width: 25px;
        }
    }
    .info_01 {
        display: inline-block;
        position: absolute;
        font-size: 14px;
        width: 310px;
        height: 247;
        top:50%;
        right:9%;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 10px 20px;
        border-radius: 20px;
        span {
            font-weight: 700;
        }
        img{
            max-width: 25px;
        }
    }
}