.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    padding-bottom: 100px;

    .logo img{
        width: 150px;
    }

    nav ul{
        display: flex;
        align-items: center;
        gap: 40px;
        list-style: none;
    }

    nav ul li a{
        text-decoration: none;
        color: $colorblue;
    }

    .nav_01 button {
        width: 27px;
        height: 25px;
        border: none;
        margin-left: -35px;              
    }

    .nav_02 {
        .sign_in a{
            text-decoration: underline;
        }
        a img{
            width: 25px;
        }
        .button a{           
           color: white;           
        }
    }
}