main {
    .container {
        margin-left: 20px;
        margin-right: 20px;
    }
    .foto {
        display: flex;
        justify-content: center;
        img {
            position: absolute;
            width: 200px;
            top: 0;
        }
    }
    .hero_01 {
        display: flex;
        flex-direction: column;
        margin-top: 380px;
        h1 {
            font-family: "Space Grotesk", sans-serif;
            font-size: 40px;
            font-optical-sizing: auto;
            font-weight: bold;
            color: white;
            text-align: center;
            line-height: 40px;
        }
        h1::after {
            position: absolute;
            top: 580px;
            left: 120px;
            content: "";
            display: inline-block;
            width: 235px;
            height: 5px;
            background-color: $marine;

        }
        .subtitle {
            margin-top: 30px;
            font-family: "Space Grotesk", sans-serif;
            font-size: 18px;
            font-optical-sizing: auto;
            font-weight: regular;
            color: white;
            text-align: center;
            line-height: 30px;
        }
        .contact {
            background-color: $greydark;
            border: none;
            margin-top: 0;
            a {
                font-family: "Space Grotesk", sans-serif;
                font-size: 16px;
                font-optical-sizing: auto;
                font-weight: 700;
                color: $greylight;
                text-align: center;
                text-decoration: none;
                letter-spacing: 3px;
            }
        }
        .contact::after {
            position: absolute;
            top: 780px;
            left: 135px;
            content: "";
            display: inline-block;
            width: 140px;
            height: 2px;
            background-color: $marine;
        }
    }
    .lenguajes::before {
        display: flex;
        align-items: center;
        position: absolute;
        top: 850px;
        content: "";
        display: inline-block;
        width: 370px;
        height: 1px;
        background-color: white;
    }
    .lenguajes {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        h2 {
            font-family: "Space Grotesk", sans-serif;
            font-size: 32px;
            font-optical-sizing: auto;
            font-weight: 700;
            color: white;
            text-align: center;
            margin-top: 30px;
        }
        p {
            font-family: "Space Grotesk", sans-serif;
            font-size: 18px;
            font-optical-sizing: auto;
            font-weight: regular;
            color: white;
            text-align: center;
            line-height: 30px;
        }
    }
    .lenguajes::after {
        display: flex;
        align-items: center;
        position: absolute;
        top: 1550px;
        content: "";
        display: inline-block;
        width: 370px;
        height: 1px;
        background-color: white;
    }
    .header_projects {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 120px;
        h2 {
            font-family: "Space Grotesk", sans-serif;
            font-size: 40px;
            font-optical-sizing: auto;
            font-weight: 700;
            color: white;
            text-align: center;
            margin-top: 30px;
        }
        .contact {
            background-color: $greydark;
            border: none;
            margin-top: -10px;
            a {
                font-family: "Space Grotesk", sans-serif;
                font-size: 16px;
                font-optical-sizing: auto;
                font-weight: 700;
                color: $greylight;
                text-align: center;
                text-decoration: none;
                letter-spacing: 3px;
            }
        }
        .contact::after {
            position: absolute;
            top: 1665px;
            left: 245px;
            content: "";
            display: inline-block;
            width: 135px;
            height: 2px;
            background-color: $marine;
        }
    }
    .articulos {
        img {
            max-width: 100%;
            margin-top: 65px;
        }
        h3 {
            font-family: "Space Grotesk", sans-serif;
            font-size: 25px;
            font-optical-sizing: auto;
            font-weight: 500;
            color: white;
            margin-top: 15px;
        }
        .buttons {
            display: flex;
            gap: 20px;
            margin-top: 10px;
            a {
                font-family: "Space Grotesk", sans-serif;
                font-size: 18px;
                font-optical-sizing: auto;
                font-weight: 400;
                color: $greylight;
                text-decoration: none;
            }
        }
        .codes {
            display: flex;
            gap: 50px;
            margin-top: 20px;
            position: relative;
            
            a   {
                font-family: "Space Grotesk", sans-serif;
                font-size: 16px;
                letter-spacing: 2px;
                font-weight: 700;
                color: $greylight;
                text-decoration: none;
                }
        }
        .button_project::after {
            content: "";
            position: absolute;
            top: 30px;
            left: -5px;
            display: inline-block;
            width: 140px;
            height: 2px;
            background-color: $marine;
        }
        .button_code::after {
            content: "";
            position: absolute;
            top: 30px;
            left: 185px;
            display: inline-block;
            width: 100px;
            height: 2px;
            background-color: $marine;
        }
    }
    .contact {
        margin-top: 100px;
        padding-top: 50px;
        padding-right: 20px;
        padding-left: 20px;
        background-color: $greymedium;
        .contact_info {
            display: flex;
            flex-direction: column;
            align-items: center;
            h2 {
                font-family: "Space Grotesk", sans-serif;
                font-size: 40px;
                font-weight: 700;
                color: $greylight;
                text-decoration: none;
            }
            p {
                font-family: "Space Grotesk", sans-serif;
                font-size: 16px;
                font-weight: regular;
                color: $greylight;
                text-decoration: none;
                text-align: center;
                max-width: 90%;
                margin-top: 15px;
            }
        }
        .formulario {
            margin-top: 50px;
            position: relative;
            label {
                font-family: "Space Grotesk", sans-serif;
                font-size: 16px;
                font-weight: 100;
                color: $greylight;
            }
            .button_contact{
                font-family: "Space Grotesk", sans-serif;
                font-size: 16px;
                font-weight: 700;
                color: white;
                background-color: $greymedium;
                border: none;
                position: absolute;
                letter-spacing: 2px;
                left: 200px;
                top: 325px;
            }
            .button_contact::after {
                content: "";
                position: relative;
                top: 0px;
                left: 0px;
                display: inline-block;
                width: 150px;
                height: 2px;
                background-color: $marine;
            }
        }
        .formulario::after {
        display: flex;
        align-items: center;
        position: absolute;
        top: 450px;
        content: "";
        display: inline-block;
        width: 370px;
        height: 1px;
        background-color: white;
        }
        .formulario form {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            gap: 25px;
            label {
                padding-left: 25px;
            }
            input {
                border: none;
                background-color: $greymedium;
                border-bottom: 2px solid $greylight;
            }
            input:focus {
                outline: none;
                background-color: $greydark;
            }
            textarea {
                border: none;
                background-color: $greymedium;
                border-bottom: 2px solid $greylight;
            }
            textarea:focus {
                outline: none;
                background-color: $greydark;
            }
        }
        .logotipo_footer {
            display: flex;
            justify-content: center;
            margin-top: 250px;
        }
        .social_footer {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-top: 35px;
        padding-bottom: 50px;
    }
    }
}
/*Entiendo que esta no es la mejor forma de hacer esto*/
.decoration_footer {
    position: absolute;
    bottom: -4250px;
}
.decoration_projects {
    position: absolute;
    transform: scaleX(-1);
    right: 0;
    bottom: -700px;
}