/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*Proyecto */

:root {
  --color1: #403C39;
  --color2: #F38160;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_primer ul{
  display: flex;
  gap: 55px;
  list-style: none;
}

.login ul {
  display: flex;
  gap: 50px;
  list-style: none;
  align-items: center;
}

.nav_primer ul li a{
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: var(--color1);
}

.nav_primer ul li a:hover{
  text-decoration:underline ;
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: var(--color2);
}

.login ul li a {
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: var(--color2);
}

.login ul li a.up {
  display: inline-block;
  background-color: var(--color2);
  color: white;
  padding: 10px 20px;
  border-radius: 16px;
}

.login ul li a.up:hover {
  display: inline-block;
  background-color: var(--color1);
  color: white;
  padding: 10px 20px;
  border-radius: 16px;
}

.hero {
  display: flex;
  align-content: center;
  margin-top: 0;
  padding-top: 75px;
}

.hero h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  line-height: 85px;
  font-weight: <weight>;
  font-style: normal;
}

.hero_content {
  max-width: 50%;
}

.img_background {
  max-width: 50%;
}

.img_background img {
  max-width: 55%;
}

.text_res {
  color: var(--color2);
}

.hero p {
  max-width: 80%;
  margin-top: 50px;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: var(--color1);
}

.textoin {
  padding: 10px 5px;
  margin-right: 0;
  background-color:#ccc;
  border-radius: 5px;
  border: 0;
}

.search {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.boton_search {
  margin-left: 3px;
  background-color: var(--color2);
  padding: 6px;
  border: 0;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.categories {
  max-width: 50%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.categories li {
  list-style: none;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: var(--color1);
}

.categories li a{
  text-decoration: none;
  color: var(--color1);
}

.categories li img {
  margin-right: 15px;
}

.footer_class {
  display: flex;
  align-content: space-between;
  margin-top: 25px;
  margin-right: 5px;
}

.footer_class article {
  max-width: 25%;
  margin: 15px;
}

.footer_class h2 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--color1);
}

.footer_class p {
  max-width: 75%;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: var(--color1);
}