.activities {
    &_header {
        background-image: $gradient-01;
        color: white;
        padding: 10px 15px 10px 15px;
        margin-bottom: 5px;
        margin-top: 25px;
        border-radius: 10px;
        font-size: 19px;
        .tittle_header {
            margin-left: 25px;
        }
    }
    &_item {
        padding: 1rem 2rem;
        background-color: white;
        border-radius: 10px;
        margin-top: 40px;
        padding: 25px;
        position: relative;
        img {
            display: inline-block;
            background-image: conic-gradient($colororange,$colorpink2,$colororange);
            padding: 18px;
            border-radius: 50%;
            position: absolute;
            left: 28px;
            top:-27px;
            width: 25px;

        }        
        &_animation {
            .tittle {
                font-size: 20px;
                font-weight: 900;
            } 
            .subtittle {
                font-size: 15px;
                font-weight: 300;
                line-height: 20px;
                color: $colorgrey;
            }
        }
    &_link {

    }
    }
}