/*Variables colores*/

$colorblue: #666CA3;
$colordark: #13183F;
$colorgrey:#83869A;
$colorpink:#F74780;
$colorpinks:#FFA7C3;
$colororange:#FF6F48;
$colorpink2:#F02AA6;
$blue_02:#4851FF;

$gradient-01: linear-gradient(180deg,$colororange 0.04%,$colorpink2 100%);
$gradient-02: linear-gradient(180deg, $blue_02 0%,$colorpink2 99.92%);

/*Variables fuentes*/

$primary-font:"Plus Jakarta Sans", sans-serif;

/* Variables medidas responsive */

$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

