/*Responsive*/
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$colorblue: #264065;
$colorcyan: #A9D6CB;
$colorgrey: #909090;
$colorgreylight: #FAF8F5;
